@page
@model MascotaFeliz.App.Frontend.Pages.DetailsPropietarioModel
@{
}
<h2>@Model.Propietario.Nombre @Model.Propietario.Apellidos</h2>
<form method="post">
    <input type="hidden" asp-for="Propietario.Id"/>
    <div class="form-group">
        Nombre: @Model.Propietario.Nombre
    </div >
    <div class="form-group">
        Apellido(s): @Model.Propietario.Apellidos
    </div>
    <div class="form-group">
        Identificación: @Model.Propietario.Identificacion
    </div>
    <div class="form-group">
        Número de Teléfono: @Model.Propietario.NumeroTelefono
    </div>
    <div class="form-group">
        Correo Electrónico: @Model.Propietario.CorreoElectronico
    </div>
    <div class="form-group">
        Dirección: @Model.Propietario.Direccion
    </div>
    <button
        type="submit"
        class="btn btn-primary">
        Eliminar Propietario &nbsp; &nbsp;
        <i class="fas fa-trash fa-lg"></i>
    </button>
</form>
<a asp-page="./ListPropietarios" class="btn-default">Lista de Propietarios</a>
