@page
@model MascotaFeliz.App.Frontend.Pages.DetailsPropietarioModel
@{
}
<h2>@Model.Propietario.Nombre @Model.Propietario.Apellidos</h2>
<div>
    Nombre: @Model.Propietario.Nombre
</div>
<div>
    Apellido(s): @Model.Propietario.Apellidos
</div>
<div>
    Número de Teléfono: @Model.Propietario.NumeroTelefono
</div>
<div>
    Correo Electrónico: @Model.Propietario.CorreoElectronico
</div>
<form method="post">
    <input type="hidden" asp-for="Propietario.Id"/>
    <button type="submit" class="btn btn-primary">Eliminar</button>
</form>
<a asp-page="./ListPropietarios" class="btn-default">Lista de Propietarios</a>
