@page
@model MascotaFeliz.App.Frontend.Pages.ListPropietariosModel
@{
}
<h1>Listado de Propietarios de Mascotas</h1>
<form method="get">
    <div class="form-group">
        <p>
            Filtro:
            <input type="text" name="filtroBusqueda" asp-for="FiltroBusqueda"/>
            <input type="submit" value="Filtrar"/>
        </p>
    </div>
</form>
<table class="table">
    <tr>
        <td><b>Nombre Completo</b></td>
        <td><b>Número de Teléfono</b></td>
        <td><b>Correo Electrónico</b></td>
        <td><b>Detalles</b></td>
        <td><b>Actualizar</b></td>
    <tr>
    @foreach (var propietario in Model.Propietarios)
    {
        <tr>
            <td>@propietario.Nombre @propietario.Apellidos</td>
            <td>@propietario.NumeroTelefono</td>
            <td>@propietario.CorreoElectronico</td>
            <td>
                <a 
                    class="btn btn-primary table-btn" 
                    asp-page="./DetailsPropietario"
                    asp-route-propietarioId="@propietario.Id">
                    <i class="fas fa-info-circle fa-lg"></i>
                    @* Detalles Propietario *@
                </a>
            </td>
            <td>
                <a 
                    class="btn btn-primary table-btn" 
                    asp-page="./EditPropietario"
                    asp-route-propietarioId="@propietario.Id">
                    <i class="fas fa-address-book fa-lg" aria-hidden="true"></i>
                    @* Actualizar Propietario *@
                </a>
            </td>
        </tr>
    }
</table>
<a asp-page="./EditPropietario" class="btn btn-primary">Adicionar Propietario</a>
