@page
@model MascotaFeliz.App.Frontend.Pages.DetailsConsultaModel
@{
}
<h2>@Model.Veterinario.Nombre @Model.Veterinario.Apellidos - @Model.Mascota.Nombre ( @Model.Mascota.TipoMascota )</h2>
<form method="post">
    <input type="hidden" asp-for="Consulta.Id"/>
    <div class="form-group">
        Mascota: @Model.Mascota.Nombre ( @Model.Mascota.TipoMascota )
    </div>
    <div class="form-group">
        Veterinario: @Model.Veterinario.Nombre @Model.Veterinario.Apellidos
    </div>
    <div class="form-group">
        Fecha - Hora: @Model.Consulta.Hora
    </div>
    <div class="form-group">
        Estado: @Model.Consulta.Status
    </div>
    <div class="form-group">
        Temperatura: @Model.Consulta.Temperatura
    </div>
    <div class="form-group">
        Peso: @Model.Consulta.Peso
    </div>
    <div class="form-group">
        Frecuencia Respiratoria: @Model.Consulta.FrecuenciaRespiratoria
    </div>
    <div class="form-group">
        Frecuencia Cardiaca: @Model.Consulta.FrecuenciaCardiaca
    </div>
    <div class="form-group">
        Frecuencia Respiratoria: @Model.Consulta.FrecuenciaRespiratoria
    </div>
    <div class="form-group">
        Estado de Animo: @Model.Consulta.EstadoAnimo
    </div>
    <div class="form-group">
        Diagnóstico: @Model.Consulta.Diagnostico
    </div>
    <button
        type="submit"
        class="btn btn-primary">
        Eliminar Consulta Domiciliaria &nbsp; &nbsp;
        <i class="fas fa-trash fa-lg"></i>
    </button>
</form>
<a asp-page="./ListConsultas" class="btn-default">Lista de Consultas</a>
