@page
@model MascotaFeliz.App.Frontend.Pages.DetailsMascotaProvisionalModel
@{
}
<h2>@Model.Mascota.Nombre (@Model.Mascota.TipoMascota)</h2>
<div>
    Nombre: @Model.Mascota.Nombre
</div>
<div>
    Tipo: @Model.Mascota.TipoMascota
</div>
<div>
    Raza: @Model.Mascota.Raza
</div>
<div>
    Genero: @Model.Mascota.Genero
</div>
<div>
    Propietario: @Model.Mascota.Propietario.Nombre @Model.Mascota.Propietario.Apellidos
</div>
<form method="post">
    <input type="hidden" asp-for="Mascota.Id"/>
    <button type="submit" class="btn btn-primary">Eliminar</button>
</form>
<a asp-page="./ListMascotasProvisional" class="btn-default">Lista de Mascotas</a>
