@page
@model MascotaFeliz.App.Frontend.Pages.ListMascotasProvisionalModel
@{
}
<h1>Listado de Mascotas</h1>
<form method="get">
    <div class="form-group">
        <p>
            Filtro:
            <input type="text" name="filtroBusqueda" asp-for="FiltroBusqueda"/>
            <input type="submit" value="Filtrar"/>
        </p>
    </div>
</form>
<table class="table">
    <tr>
        <td><b>Nombre </b></td>
        <td><b>Tipo De Mascota</b></td>
        <td><b>Raza</b></td>
        <td><b>Genero</b></td>
        <td><b>Propietario</b></td>
        <td><b>Detalles</b></td>
        <td><b>Editar</b></td>
    <tr>
    @foreach (var mascota in Model.Mascotas)
    {
        <tr>
            <td>@mascota.Nombre</td>
            <td>@mascota.TipoMascota</td>
            <td>@mascota.Raza</td>
            <td>@mascota.Genero</td>
            <td>@mascota.Propietario.Nombre @mascota.Propietario.Apellidos</td>
            <td>
                <a 
                    class="btn btn-primary table-btn"
                    asp-page="./DetailsMascotaProvisional"
                    asp-route-mascotaId="@mascota.Id">
                    <i class="fas fa-info-circle fa-lg"></i>
                    @* Detalles Mascota *@
                </a>
            </td>
            <td>
                <a
                    class="btn btn-primary table-btn"
                    asp-page="./EditMascotaProvisional"
                    asp-route-mascotaId="@mascota.Id">
                    <i class="fas fa-address-book fa-lg" aria-hidden="true"></i>
                    @* Actualizar Mascota *@
                </a>
            </td>
        </tr>
    }
</table>
<a asp-page="./EditMascotaProvisional" class="btn btn-primary">Adicionar Mascota</a>
