@page
@model MascotaFeliz.App.Frontend.Pages.ListAdministradoresModel
@{
}
<h1>Listado de Administradores</h1>
<form method="get">
    <div class="form-group">
        <p>
            Filtro:
            <input type="text" name="filtroBusqueda" asp-for="FiltroBusqueda"/>
            <button
                type="submit"
                class="btn btn-primary">
                Filtrar &nbsp; &nbsp;
                <i class="fas fa-filter fa-lg"></i>
            </button>
        </p>
    </div>
</form>
<table class="table">
    <tr>
        <td><b>Nombre Completo</b></td>
        <td><b>Número de Teléfono</b></td>
        <td><b>Correo Electrónico</b></td>
        <td><b>Detalles</b></td>
        <td><b>Actualizar</b></td>
    <tr>
    @foreach (var administrador in Model.Administradores)
    {
        <tr>
            <td>@administrador.Nombre @administrador.Apellidos</td>
            <td>@administrador.NumeroTelefono</td>
            <td>@administrador.CorreoElectronico</td>
            <td>
                <a 
                    class="btn btn-primary table-btn" 
                    asp-page="./DetailsAdministrador"
                    asp-route-administradorId="@administrador.Id">
                    <i class="fas fa-search-plus fa-lg"></i>
                    @* Detalles del Administrador *@
                </a>
            </td>
            <td>
                <a 
                    class="btn btn-primary table-btn" 
                    asp-page="./EditAdministrador"
                    asp-route-administradorId="@administrador.Id">
                    <i class="fas fa-address-book fa-lg" aria-hidden="true"></i>
                    @* Actualizar Administrador *@
                </a>
            </td>
        </tr>
    }
</table>
<a
    asp-page="./EditAdministrador"
    class="btn btn-primary">
    Crear Nuevo Administrador &nbsp; &nbsp;
    <i class="fas fa-file-medical fa-lg"></i>
</a>
